/**
 * ELEMENTS
 * Table of contents: Navigate using $TITLE
 *
 * page navigation
 * breadcrumb
 * buttons
 * pagination
 *
 */


/*------------------------------------**
  $PAGE NAVIGATION
**------------------------------------*/

.page-navigation {

  li:before {
    display: none;
  }

  li {
    border-bottom: 1px solid $text-light;
    margin-bottom: 0;
  }

  li:last-child {
    border-bottom: 0;
  }

  a {
    display: block;
    padding: 1.1rem 0 0.8rem 0;
    color: $text;
    font-family: $font-alt;
    text-transform: uppercase;
  }

  a:hover {
    color: $accent;
  }

}


/*------------------------------------**
  $CONTACT FORM
**------------------------------------*/

.webform-confirmation {
  padding-top: 5%;
}

.node-webform {
    textarea {
      color: $wanderBlack;
    }
}



/*------------------------------------**
  $BREADCRUMB
**------------------------------------*/

.breadcrumb {
  @include font-size(16);
  @include line-height(24);
  display: flex;

  a {
    color: $text;
  }

  a:hover {
    color: $accent;
  }
}


/*------------------------------------**
  $BUTTONS
**------------------------------------*/

.button {
  margin: 50px 0;
  color: $wanderBlack;
  border: solid 3px $mustard;
  padding: 15px 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  width: 180px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color: $mustard;
  }
}

.button--large {
  padding: 20px 30px;
  font-size: 16px;
}

.form-actions {
  input[type=submit] {
    margin: 50px 0;
    color: $wanderBlack;
    background: $wanderWhite;
    border: solid 3px $mustard;
    padding: 15px 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    width: 180px;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
      background-color: $mustard;
    }
  }
}

.links a {
  margin: 50px 0;
  color: $wanderBlack;
  border: solid 3px $mustard;
  padding: 15px 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  width: 180px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color: $mustard;
  }
}

.view-filters {
  padding: 5% 0% 5% 0%;
}

/*------------------------------------**
  $FILTERS
**------------------------------------*/

#edit-project-category > div:nth-child(1) > label {
  display: none;
}

label {
    color: $wanderBlack;
    border: solid 3px $mustard;
    padding: 15px 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    width: 180px;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
      background-color: $mustard;
    }
}

.views-widget {
  background: #28b1ab;

  input[type=radio] {
    display: none;
  }
}

/*------------------------------------**
  $FILTER TEASER
**------------------------------------*/

#main-content {
  #main-content > div > article {
    width: 30%;

    h2 {
      text-align: center;
    }
  }
}

/*
!*------------------------------------**
  $PHOTOREEL
**------------------------------------*!

.slick {
  z-index: -1;
}

.slide__content {
  margin-right: 5%;
}

//#slick-views-slick-carousel-1-slider > div > div > div:nth-child(1) > ul {
//  margin-right: 2%;
//}

#slick-views-slick-carousel-1 {
  background: yellow;
}

@include media('<small') {

  .slick {

  }

  .slick-wrapper {
    padding: 0%;
  }

  #slick-views-slick-carousel-1 {
    background: blue;
  }

  .slick-track {
    background: green;
  }

  .slide__content {

  }
}*/
