/**
 * ELEMENTS
 * Table of contents: Navigate using $TITLE
 *
 * page navigation
 * breadcrumb
 * buttons
 * pagination
 *
 */


/*------------------------------------**
  $PAGE NAVIGATION
**------------------------------------*/

.page-navigation {

  li:before {
    display: none;
  }

  li {
    border-bottom: 1px solid $text-light;
    margin-bottom: 0;
  }

  li:last-child {
    border-bottom: 0;
  }

  a {
    display: block;
    padding: 1.1rem 0 0.8rem 0;
    color: $text;
    font-family: $font-alt;
    text-transform: uppercase;
  }

  a:hover {
    color: $accent;
  }

}


/*------------------------------------**
  $CONTACT FORM
**------------------------------------*/

.content {
  width: 100%;

  #webform-client-form-10 {
    width: 100%;
  }
}

.webform-confirmation {
  padding-top: 5%;
}

.node-webform {

  input[type="text"] {
    border-bottom: solid 3px $mustard;
  }

    textarea {
      padding: 5%;
      height: 70vh;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1em;
      border: none;
      border-bottom: solid 3px $mustard;
      color: $wanderBlack;
    }
}


@include media('>medium') {
  .node-webform {
    textarea {
      padding: 2%;
      height: 30vh;
    }
  }
}

/*------------------------------------**
  $BREADCRUMB
**------------------------------------*/

.breadcrumb {
  @include font-size(16);
  @include line-height(24);
  display: flex;

  a {
    color: $text;
  }

  a:hover {
    color: $accent;
  }
}


/*------------------------------------**
  $BUTTONS
**------------------------------------*/

.button {
  margin: 50px 0;
  color: $wanderBlack;
  border: solid 3px $mustard;
  padding: 15px 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  width: 180px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color: $mustard;
  }
}

.button--large {
  padding: 20px 30px;
  font-size: 16px;
}

.form-actions {
  input[type=submit] {
    margin: 50px 0;
    color: $wanderBlack;
    background: $wanderWhite;
    border: solid 3px $mustard;
    padding: 15px 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    width: 180px;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
      background-color: $mustard;
    }
  }
}

.links a {
  margin: 50px 0;
  color: $wanderBlack;
  border: solid 3px $mustard;
  padding: 15px 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  width: 180px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color: $mustard;
  }
}

