.floater_I {
  animation-name: floatingI;
  animation-duration: 85s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.7;
}


.floater_V {
  animation-name: floatingV;
  animation-duration: 65s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.3;
}

.floater_D {
  animation-name: floatingD;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.7;
}

@keyframes floatingI {
  from { transform: translate(50%, 30%) rotate(75deg); }
  25%  { transform: translate(750%, 60%) rotate(25deg); }
  50%  { transform: translate(800%, 20%) rotate(-30deg); }
  75%  { transform: translate(400%, 30%) rotate(-80deg); }
  to   { transform: translate(50%, 30%) rotate(75deg); }
}

@keyframes floatingV {
  from { transform: translate(400% 20%) rotate(0deg); }
  30%  { transform: translate(200%, 90%) rotate(40deg); }
  75%  { transform: translate(400%, 10%) rotate(-10deg); }
  to   { transform: translate(100% 0%) rotate(0deg); }
}

@keyframes floatingD {
  from { transform: translate(50%, 0%) rotate(0deg); }
  25%  { transform: translate(40%, 0%) rotate(-30deg); }
  50%  { transform: translate(40%, 40%) rotate(-30deg); }
  75%  { transform: translate(50%, 70%) rotate(0deg); }
  to   { transform: translate(50%, 0%) rotate(0deg); }
}

