
.view-filters {
  z-index: -100;

  .views-widget {
    width: 100%;
    padding-left: 33%;
    padding-right: 30%;


      div input[type="radio"],
      label:before {
        display: none;
      }

      div input[checked="checked"] > label {
        font-weight: bold;
      }

      label {
        margin-top: 2%;
        color: $wanderBlack;
        border: solid 3px $mustard;
        padding: 15px 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        width: 180px;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease;

        &:hover {
          text-decoration: none;
          background-color: $orange;
        }
      }
    }


}

@include media('>medium') {

  #main-content {

    .view-filters {
      widtb: 100%;

      .views-widget {
        padding-left: 0%;
        padding-right: 0%;
        .form-radios {
          display: flex;
          justify-content: space-between;

          div input[checked="checked"] > label {
            font-weight: bold;
          }

          label {
            margin-top: 5%;
          }
        }
      }
    }
  }
}