/*hero layout */

.hero {
  height: 90vh;
  padding: 0;
  position: center;
  overflow: hidden;
  border-bottom: 5px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-title {
  position: absolute;
  margin-top: 20%;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
}

.hero-title h1 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: $mustard;
  font-size: 5em;
}

/*video*/

#myVideo {
  visibility: visible;
  right: 0;
  bottom: 0;
  margin: 0 0 0 0%;
  width: 100%;
  z-index: 0;
}

.autoplay {
  height: 150px;
  width: 145%;
}

.cell {

}

.autoplay div {
  margin: 0 5px;
}

.autoplay img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {

  #myVideo {
    width: 200%;
  }

  .autoplay {
    width: 250%;
  }
}


/*Floaters*/

#floater_I {
  animation-name: floatingI;
  animation-duration: 85s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.7;
}


#floater_V {
  animation-name: floatingV;
  animation-duration: 65s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.3;
}

#floater_D {
  animation-name: floatingD;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.7;
}

@keyframes floatingI {
  from { transform: translate(-50%, -30%) rotate(75deg); }
  25%  { transform: translate(-50%, 60%) rotate(25deg); }
  50%  { transform: translate(400%, 60%) rotate(-30deg); }
  75%  { transform: translate(400%, -30%) rotate(-80deg); }
  to   { transform: translate(-50%, -30%) rotate(75deg); }
}

@keyframes floatingV {
  from { transform: translate(600% -30%) rotate(0deg); }
  30%  { transform: translate(-100%, -30%) rotate(30deg); }
  75%  { transform: translate(0%, 70%) rotate(-10deg); }
  to   { transform: translate(600% -30%) rotate(0deg); }
}

@keyframes floatingD {
  from { transform: translate(-50%, 0%) rotate(0deg); }
  25%  { transform: translate(40%, 0%) rotate(-30deg); }
  50%  { transform: translate(40%, 40%) rotate(-30deg); }
  75%  { transform: translate(-50%, 70%) rotate(0deg); }
  to   { transform: translate(-50%, 0%) rotate(0deg); }
}

.autoplay div {
  margin: 0 5px;
}

.autoplay img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {

  #myVideo {
    margin-left: 8%;
  }



  .hero {
    height: 80vh;
  }

  .hero-title {
    margin-top: 60%;
  }

  .hero-title h1 {
    font-size: 4em;
    font-family: "Josefin Sans", sans-serif;
    color: $mustard;
  }
}


