.front {
    height: auto !important;

  h1 {
    display: none;
  }

  h2 {
    color: $mustard;
  }

  .content {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 100px;
  }

  p:first-child {
    padding-top: 100px;
  }
  
  p {
    text-align: center;
  }

}

@include media(">medium") {
  
  .front {

    .content {
      margin: 0 auto 150px;
    }
    
    p {
      text-align: left;
    }
    
  }
  
}