.node-type-graduate {

  .hero, h1 {
    display: none;
  }

}

@include media('<small') {

  // GRADUATES PAGE //
  .graduate {
    width: 100%;

    .field-type-image, .field-type-text-with-summary {
      width: 100%;
      padding: 2%;
    }
  }

}

@include media('>medium') {
  .graduate {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .field-type-image, .field-type-text-with-summary {
      width: 50%;
      padding: 2%;
    }
  }


}