.page-graduates .page {

  .view-header {
    width: 100%;
  }

  #main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .graduate-grid {
      width: 30%;
    }

    div:last-child {
      width: 100%;
    }
  }

}

