.node-type-graduate {

  .container {
    margin: 0 auto 150px;
  }

  .hero,
  h1,
  label {
    display: none;
  }
  
  h3,
  h5 {
    margin: 20px 0 10px;
    text-align: center;
  }

  h5 {
    margin: 0 0 20px;
  }

  .graduate {
    margin-bottom: 100px;
  }

  .back-to-grad {
    margin: 50px auto 0;
    width: 90%;
  }

  .graduate-portrait:hover {
    opacity: 0;
  }

  .graduate-portrait-gif {
    margin: 50px auto 0;
    max-width: 480px;
    width: 100%;
    z-index: -1;
  }
  
  .sm-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a {
      margin: 0 5px;
    }
  }

  a.facebook-link,
  a.instagram-link,
  a.linkedin-link,
  a.website-link,
  a.behance-link,
  a.youtube-link,
  a.personal-ig-link{
    font-size: 0;
    width: 50px;
    height: 50px;
    display: block;
    transition: all 0.3s ease;
  }

  a.facebook-link {
    background-image: url('../images/icons/facebook.png');
    background-size: contain;
  }

  a.instagram-link {
    background-image: url('../images/icons/instagram.png');
    background-size: contain;
  }

  a.linkedin-link {
    background-image: url('../images/icons/linkedin.png');
    background-size: contain;
  }

  a.website-link {
    background-image: url('../images/icons/website.png');
    background-size: contain;
  }

  a.behance-link {
    background-image: url('../images/icons/behance.png');
    background-size: contain;
  }

  a.youtube-link {
    background-image: url('../images/icons/youtube.png');
    background-size: contain;
  }

  a.personal-ig-link {
    background-image: url('../images/icons/instagram.png');
    background-size: contain;
  }

  a.facebook-link:hover,
  a.instagram-link:hover,
  a.linkedin-link:hover,
  a.website-link:hover,
  a.behance-link:hover,
  a.youtube-link:hover,
  a.personal-ig-link:hover {
    cursor: pointer;
    transform: rotate(-25deg) scale(1.1);
  }

  .field-type-text-with-summary {
    margin: 50px auto 100px;
    width: 90%;
    p {
      margin-bottom: 20px;
    }
  }

  .graduate-project {
    position: relative;
    background-color: $mustard;
    width: 100%;
    height: auto;
    margin-bottom: 100px;

    label {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      font-weight: bold;
      font-size: 24px;
      z-index: 2;
    }

    a img {
      width: 100%;
      opacity: 0.40;
      transition: all 0.3s ease;
      }

    a:hover img {
      opacity: 0.80;
    }

    a:hover label {
      opacity: 0;
    }
  }

}


@include media('>medium') {
  .node-type-graduate {

    h3, 
    h5 {
      margin: 0;
      text-align: left;
    }

    .sm-icons {
      justify-content: flex-end;
      width: 35%;
    }

    .back-to-grad {
      width: 100%;
    }

    .graduate {
      position: relative;
      margin: 50px 0 150px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .graduate-portrait-gif {
        margin: 0;
        width: 30%;
      }

      .graduate-info {
        width: 65%;
        justify-content: flex-start;

        .graduate-details {
          display: flex;
          justify-content: space-between;
        }

      }
    }

    .field-type-text-with-summary {
      margin-top: 30px;
      width: 100%;
    }

    .graduate-project {
      margin: 100px 0 0;
      label {
        font-size: 48px;
      }
    }

  }
}