.graduate-teaser {
  margin-bottom: 1%;
  padding: 2%;

  .title {
    background: $wanderWhite;
    color: $wanderBlack;
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 0.8em;
    width: 100%;
    padding: 5%;
    font-weight: bold;
  }
}


@include media('>medium') {

  .graduate-teaser {
    margin-top: 8%;

    .field-type-image {
      width: 100%;
    }

    .title {
      width: 100%;
      background: $wanderWhite;
      color: $wanderBlack;
      font-size: 0.4em;
      position: relative;
      z-index: 2;
      text-align: center;
      padding-top: 8%;
    }
  }

}

