#main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-grid {
  width: 90%;
  margin: 0 auto 50px;

  .project-teaser {

    a {
      .title {
        margin-top: 5%;
        font-size: 28px;
        color: $wanderBlack;
        text-align: center;
        background: $wanderWhite;
        font-weight: bold;
      }
    }

  }
}

@include media('>medium') {
  .project-grid {
    position: relative;
    width: 30%;


    .project-teaser {

      a {
        .title {
          font-size: 20px;
        }
      }
    }
  }
}