#main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-grid {
  position: relative;
  width: 100%;

  .project-teaser {

    a {
      .title {
        font-size: 0.45em;
        color: $wanderBlack;
        text-align: center;
        background: $wanderWhite;
        font-weight: bold;
      }
    }

  }
}

@include media('>medium') {
  .project-grid {
    position: relative;
    width: 30%;
  }
}