.node-type-project {

  .hero, h1 {
    display: none;
  }
}

.project-info {

  .project-details {

    h5 {
      margin-top: 2%;
    }

    p {
      margin-top: 2%;

    }
  }

}

@include media('>medium') {
  .project-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .field-type-image {
      width: 30%;
    }
    .project-details {
      width: 64.5%;
    }

    .field-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
