.node-type-project {
  height: auto !important;

  .container {
    margin: 50px auto 150px;
  }

  .hero, h1 {
    display: none;
  }
}

.back-to-project {
  margin: 0 0 50px 20px;
}

.project-info {
  width: 90%;
  margin: 0 auto 50px;

  .field-type-image {
    margin-bottom: 50px;
  }

  .project-details {

    h5 {
      display: flex;
      margin-top: 20px;

      .field-type-link-field {
        margin-left: 10px;
      }
    }

    p {
      margin-top: 20px;

    }
  }

}

@include media('>medium') {

  .back-to-project {
    margin: 0 0 50px 0;
  }

  .project-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 100px;

    .field-type-image {
      width: 30%;
    }
    .project-details {
      width: 64.5%;
    }
  }

    .field-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
}
