.team-grid {

  .views-field-field-graduate-name {
    .field-content {
      color: $wanderBlack;
      font-size: 32px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .views-field-field-role {
    .field-content {
      color: $wanderBlack;
      text-align: center;
    }
  }


}