/**
 * LAYOUT
 * Table of contents: Navigate using $TITLE
 *
 * general
 * header
 *
 */

/*------------------------------------**
  $GENERAL
**------------------------------------*/

html {
  // REMOVE WHEN WEBSITE IS COMPLETE //
  //margin-top: 50px;
  overflow: hidden;
  overflow-y: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid $accent;
}

.page {
  border-top: 3px solid $mustard;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  overflow: hidden;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

:target:before {
  display: block;
  height: 30px;
  margin-top: -30px;
  content: "";
}

.content {
  margin: 0 auto;
  max-width: 900px;
  padding: 2% 5% 2% 5%;
}

.not-front {
  .container h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    color: #E1AC50;
    z-index: -1;
  }
}

section {
  padding: 5% 20% 5% 20%
}

#top-section {
  width: 100%;
  height: 550px;
  background: $wanderWhite;
}

.carousel-section {
  padding: 0;
  height: 200px;
}

.hero {
  position: relative;
  height: 90vh;
  padding: 0;
  overflow: hidden;
  z-index: -100;

  video {                 //HOME PAGE ONLY//
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-55%);
  }
}

.hero__video-after {
  display: block;
  height: 1px;
  border: 0;
  margin: 0;
}

footer {
  width: 100%;
  height: 260px;
  color: $wanderBlack;
  text-align: center;
}

@include media('<small') {
  .content {
    padding: 5% 5% 5% 5%;
    p {
      text-align: center;
    }
  }
  // GRADUATES PAGE //
  .graduate {
    width: 100%;

    .field-type-image, .field-type-text-with-summary {
      width: 100%;
      padding: 2%;
    }
  }

  .graduate-teaser {
    margin-bottom: 1%;
    padding: 2%;

    .title {
      background: $orange;
      color: $wanderBlack;
      text-align: center;
      position: relative;
      z-index: 2;
      font-size: 0.8em;
      width: 100%;
      padding: 5%;
    }
  }

  footer {
    padding-top: 5%;
  }
}

@include media('>medium') {
  footer {
    padding-top: 2%;
  }

  .hero video {
    min-height: 100%;
    max-height: none;
  }

  .graduate {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .field-type-image, .field-type-text-with-summary {
      width: 50%;
      padding: 2%;
    }
  }

  .content {
    padding: 5% 2% 5% 2%;
    p {
      text-align: left;
    }
  }

  .graduate-teaser {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;

    .field-type-image {
      width: 100%;
    }

    .title {
      width: 100%;
      background: $orange;
      color: $wanderBlack;
      font-size: 0.5em;
      position: relative;
      z-index: 2;
      text-align: center;
      padding: 2%;
    }
  }
}




