/*TYPOGRAPHY */

/* josefin-sans-300italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}
/* josefin-sans-600 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/JosefinSans-Bold.ttf') format('truetype');
}

/*GLOBALS*/

h1,h2,h3, h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
  color: $wanderBlack;
  text-transform: uppercase;
}

h1{
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

p {
  color: $wanderBlack;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 175%;
}

small {
  font-size: 14px;
  color: $wanderBlack;
}

blockquote {
  color: $wanderBlack;
  font-style: italic;
}

ol, ul {
  color: $wanderBlack;
  &:before {
    color: $mustard;
  }
}

ol {
  list-style: none;
  counter-reset: li;
  li {
    counter-increment: li
  }
  li::before {
    content: counter(li);
    color: $mustard;
    display: inline-block;
    width: 1em;
    margin-left: -1em
  }
}

ul {
  list-style: none;
  li::before {
    content: "•";
    color: $mustard;
    display: inline-block;
    width: 1em;
    margin-left: -1em
  }
}

a {
  color: $mustardDark;
  text-decoration: transparent;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
  }
}

.intro {
  font-size: 18px;
}

.p--small {
  font-size: 14px;
}

strong {
  font-weight: bold;
  color: $wanderBlack;
}
